# Node dependencies
node_modules/

# Playwright reports & results
playwright-report/
playwright-report-regression/
playwright-report-smoke/
test-results/
report/

# Logs
*.log

# OS-specific files
.DS_Store

# Environment files (if any)
.env

# IDE configs (optional)
.vscode/

# SonarQube
sonar-project.properties
.scannerwork

# Others
.gitignore